<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top expanded" id="navbarid">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="Jetstream-Circle-Logo.png" alt="Logo" width="55" height="55">
        </a>
        <h2 class="navbar-title"><a class="nav-link" href="index.html">Jetstream - Service</a></h2>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">Über uns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="buy.html">Online-Anmeldung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="credits.html">Credits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="test.html">Online-Anmeldung-V1 <strong>(Just for Showcase)</strong></a>
                </li>
            </ul>
        </div>
    </div>
</nav>